body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    width: 80%;
    margin-top: 20px;
}

.table-container {
    max-height: 800px; /* Ограничиваем высоту таблицы */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.table, .table th, .table td {
    border: 1px solid #ddd;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
    font-size: 16px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
}

.pagination button:hover {
    background-color: #0056b3;
}
